<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ggolda.lendit">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ca.ggolda.lendit.MainSearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ca.ggolda.lendit.MainProfileActivity" android:screenOrientation="portrait"/>

        <activity android:name="ca.ggolda.lendit.MainHistoryActivity" android:screenOrientation="portrait"/>

        <activity android:name="ca.ggolda.lendit.MainProfileUserActivity" android:screenOrientation="portrait"/>

        <activity android:name="ca.ggolda.lendit.MainSetUsernameActivity" android:screenOrientation="portrait"/>

        <!-- keep in portait until you TODO: resolve losing image asset on rotate -->
        <activity android:name="ca.ggolda.lendit.MainAddConfirmActivity" android:screenOrientation="portrait"/>
        <activity android:name="ca.ggolda.lendit.MainAddActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>



        <!-- lend contract related activities -->
        <activity android:name="ca.ggolda.lendit.MainOfferActivity" android:screenOrientation="portrait"/>

        <activity android:name="ca.ggolda.lendit.MainTransactionsActivity" android:screenOrientation="portrait"/>




    </application>

</manifest>